*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family:sans-serif;
    font-weight: 300;
    background-color: #eaeaea;
}

#app{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

.note {
    width: 83%;
    height: auto;
    float: left;
    background-color: #ffe913;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 2px;
    margin: 6px;
    padding: 10px;
    margin-bottom: 6px;
    transition: all .2s;
}

.note:hover{
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.notes-app{
    max-width: 800px;
    width: 100%;
}

.notes-money{
    color: #626262;
    font-weight: bold;
    font-size: x-large;
}

.notes-when{


}

.notes-description{
    font-family: sans-serif Verdana Tahoma;
    font-size: larger;
    color: #626262;
}

input, select{
    box-shadow: 0 1px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.8s, color 0.3s 0.3s;
}
.note-editor .add-button:hover {
    -webkit-box-shadow: 300px 0 0 0 rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 300px 0 0 0 rgba(0, 0, 0, 0.5) inset;
    box-shadow: 300px 0 0 0 rgba(0, 0, 0, 0.5) inset;
}

.edit-note, .delete-note {
    float: right;
    background-color: rgba(255, 167, 185, 0.47);
    border-radius: 2px;
    margin: 0 5px;
    padding: 5px;
    display: none;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
}

.note:hover .delete-note {
    display: block;
}

.edit-note:hover, .delete-note:hover {
/*    background-color: rgb(255, 101, 116);*/
    box-shadow: 0 80px 0 0 rgba(0, 0, 0, 0.25) inset,
    0 -80px 0 0 rgba(0, 0, 0, 0.25) inset;
}

